.logout {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  /* font-family: 'Abel', sans-serif; */
}

.logoutBtn {
  min-width: 250px;
  padding: 5px 8px;
  /* margin-top: 20px; */
  background: rgba(255, 255, 0, 0.674);
  border: none;
  color: black;
  font-size: 16px;
  /* font-family: 'Abel', sans-serif; */
  border-radius: 3px;
}

.welcomeText {
  font-size: 16px;
}

.userName {
  color: rgba(125, 112, 127, 0.836);
  font-size: 16px;
  padding-left: 10px;

}